<!DOCTYPE html>
<head>
  <title>Book Search Results</title>
  <%- include ../../layout/head %>
</head>
<body>
  <%- include ../../layout/header %>
  <div>

    <img src= "<%= selectedBook.image_url %>"/>
    
    <h3><%= selectedBook.title %></h3>
    <p class="author"><%= selectedBook.author %></p>
    <p class="description"><%= selectedBook.description %></p>
    <p>ISBN: <%= selectedBook.isbn %></p>
    <p>Bookshelf: <%= selectedBook.bookshelf %></p>
    <button id="<%= selectedBook.isbn %>" class="form-display">Update</button>

    <form class="hidden" action="/books/:<%=selectedBook.id%>" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="isbn" value="<%= selectedBook.isbn %>" required>
      <input type="text" name="author" value="<%= selectedBook.author %>" required>
      <input type="text" name="description" value="<%= selectedBook.description %>" required>
      <input type="text" name="title" value="<%= selectedBook.title %>" required>
      <input type="text" name="bookshelf" value="<%=selectedBook.bookshelf %>" required>
      <input type="text" name="image_url" value="<%= selectedBook.image_url %>" required>
      <button type="submit"> Update Book</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./../js/app.js"></script>

</body>