<!DOCTYPE html>
<head>
  <title>Book Search Results</title>
  <%- include ../../layout/head %>
</head>
<body>
  <%- include ../../layout/header %>
  <div>
    <img src= "<%= selectedBook.image_url %>"/>
    
    <h3><%= selectedBook.title %></h3>
    <p class="author"><%= selectedBook.author %></p>
    <p class="description"><%= selectedBook.description %></p>
    <p>ISBN: <%= selectedBook.isbn %></p>
    <p>Bookshelf: <%= selectedBook.bookshelf %></p>
    <button id="<%= selectedBook.isbn %>" class="form-display">Update</button>

  </div>
  

</body>