<!DOCTYPE html>
<html>
  <head>
    <title>Book Search Results</title>
    <%- include ../../layout/head %>
  </head>
  <body>
    <%- include ../../layout/header %>
    <section class="all-books">
      <% booksArr.forEach(book => { %>
        <div class="search-card">
          <img src= "<%= book.image_url %>"/>
          <h3><%= book.title %></h3>
          <p class="author"><%= book.author %></p>
          <p class="description"><%= book.description %></p>
          <p>ISBN: <%= book.isbn %></p>
          <button class="form-display details-button">Select Book</button>
          <form class="hidden" action="/books" method="post">
            <input type="text" name="isbn" value="<%= book.isbn %>" required>
            <input type="text" name="author" value="<%= book.author %>" required>
            <input type="text" name="description" value="<%= book.description %>" required>
            <input type="text" name="title" value="<%= book.title %>" required>
            <input type="text" name="bookshelf" placeholder="Bookshelf" required>
            <input type="hidden" name="google_id" value="<%= book.google_id %>" readonly>
            <input type="hidden" name="image_url" value="<%= book.image_url %>" readonly>
            <button type="submit"> Save Book</button>
          </form>
        </div>
        <% }); %>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./../js/app.js"></script>
    </body>
</html>
